body {color: cornflowerblue MS’; times, verdana;}
h1{text-align: center;color:red}
p{font-size: 14px;}
h1 {font-size: large;}
.gras {font-weight: bold}
italique {font-style: italic;}
h1 {text-decoration: underline over}
.gras {font-weight: bold;} 
h1 { text-decoration: underline overline;}
.majuscules{text-transform: uppercase;}
.interligne { text-align: justify;}
.ecart {word-spacing: 0.4em;}
.rapproch {word-spacing: -3px;}
#fond{background-image: url(image ); background:no-repeat color center silver;}
.pas_de_retrait{list-style-position: inside;}
   .retrait{list-style-position:outside}
   /* Listes à puces non ordonnées */
   .cercle
{
list-style-type: circle;
}
.carre
{
list-style-type:square;
}
.rien
{
list-style-type: none;
}
.commence_a_zero
{
list-style-type: decimal-leading-zero;
}
.lettres_minuscules
{
list-style-type: lower-alpha;
}
.chiffres_romains
{
list-style-type: upper-roman;
}
.lettres_grecques
{
list-style-type: lower-greek;}
.lettres_majuscules{list-style-type:upper-alpha}
/* Quelques styles supplémentairesjuste pour la présentation
En plus ça vous fait quelques rappels;o) */
h2
{
text-indent: 20px;
font-family: Arial, Verdana, "Times New Roman", serif;
}
em
{
background-color: yellow;
}
strong
{
color:brown;
}
ul{
    list-style-image: url("c:\Users\hp\Documents\photo.uac.png.png");
    }
    /* Juste pour améliorer la présentation : */
a
{
color: blue;
text-decoration: none;}
.fond{background-image:url(PAGE.png);background-size:cover;} 




    
    