.large{ width: 100%;
}
.coutr{width: 50%;
 }
.centre{text-align: center;
}
.vert{ background-color: green;
}
tr{ height: 50%;
 }
 table{  margin-bottom: 40px; 
 
}
.fond{background-color: burlywood;}
.rouge{background-color: brown;} 